---
import Layout from '../../../layouts/Layout.astro';
import Book from '../../../components/Book.astro';
---

<Layout title="Lesser-known book recs">

<h1>Lesser-known book recs</h1>

<p>
  These are books that I came across in a serendipitous way,
  or that I feel lucky to have encountered,
  because I don't see them recommended as often as I think they should be.
  I enjoyed all of them a great deal, and
  I'm hoping this little list will be a source of serendipity for you.
</p>

<p>
  Disclaimer: I don't have a particularly good sense for how popular
  particular books are, so I can't say for certain that these <em>are</em>
  lesser-known. But I'd be surprised if anyone else has read more
  than 10% of the books on this list. If you've read more than a tenth of these,
  we should be friends! &mdash; <a href="/">Michelle Fullwood</a>
</p>

<h2>Funny legal mysteries</h2>

<Book
  title="Tragedy at Law"
  author="Cyril Hare"
  year="1942"
  isbn="9780330377386"
>
  <p>
    Funny mysteries are my catnip. The books in this sub-list are all
    mysteries written by and about British lawyers, and all feature wry,
    witty humour.
  </p>

  <p>
    I have read and devoured all of Cyril Hare's books, of which there are
    sadly few because he died fairly young. This book, the first of his
    Francis Pettigrew series, is one of his best, but I highly recommend
    the next two in this series
    as well. In this book, we get to see the inner workings of the Assizes,
    the now-defunct circuit courts of England and Wales,
    and everything turns on a point of law.
  </p>
</Book>

<Book
  title="Smallbone Deceased"
  author="Michael Gilbert"
  year="1950"
  isbn="0460024051"
>
  <p>
    I am still working through Michael Gilbert's oeuvre, but this first book
    of his that I've read remains his best in my opinion. 
    This book centres around the grisly discovery of the body of a
    solicitor in one of his firm's locked deed boxes.
    The characters, though many, were well-sketched, among them multiple
    top-notch sleuths both professional and amateur.
  </p>
  <p>I will warn that the
    secretaries in this firm suffer from routine sexual harassment, which
    is not great, but the rest of the book is very funny and a blast to read.
  </p>
</Book>

<Book
  title="Thus Was Adonis Murdered"
  author="Sarah Caudwell"
  year="1981"
  isbn="9781780339276"
>
  <p>
    I have no idea how I came across Caudwell's mysteries but I'm so glad I did.
    This is an unusual and erudite mystery that gets solved entirely long-distance
    via engagingly-written letters and a spot of proxy interviewing.
    The very dry British humour will either work for you or not.
    Textual criticism is a key to the solution,
    which really appealed to me. There are three more books in the series.
  </p>
</Book>

<h2>Cosy mysteries</h2>

<Book
  title="A Skeleton in the Family"
  author="Leigh Perry"
  year="2013"
  isbn="9780425255842"
  imgurl="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1376877776i/15810106.jpg"
>
  <p>
    This is a cosy mystery series,
    featuring Georgia, an adjunct professor, and Sid, a walking, talking
    skeleton. That is the only paranormal element to the series (although
    they do make creative use of Sid's skeletonicity). Everything else is
    strict, logical sleuthing. All the books in this series are fun reads,
    and contain some trenchant observations on the adjunct life.
  </p>
</Book>

<Book
  title="A Most Contagious Game"
  author="Catherine Aird"
  year="1967"
  isbn="9781601870025"
>
  <p>
    The new owner of a house discovers a "priest hole" in his house,
    and the 200-year-old skeleton of a boy inside. The police don't care
    to investigate, so he does. A gentle, old-fashioned puzzle you can solve
    yourself as you read along.
  </p>
</Book>

<h2>Mystery-Adjacent</h2>

<Book
  title="The Feast"
  author="Margaret Kennedy"
  year="1949"
  isbn="9780718208110"
  imgurl="https://images-us.bookshop.org/ingram/9781946022509.jpg?v=5079ecc9bb4b18def1ea96d3311deec2"
>
  <p>
    This was a divisive read in 
    <a href="https://www.shedunnitshow.com/welcometotheshedunnitbookclub/">
    the book club I read it in</a>, but I
    really loved it. While it's sometimes labelled as crime, it's more
    of a morality play in the form of a novel.
    We know from the beginning that a Cornish cliff is going to collapse
    on top of a hotel, burying some of its occupants, but which ones?
  </p>
  <p>
    There is a huge cast of characters, but so well-drawn that
    it's easy to keep track of them all. The sunny seaside
    atmosphere builds in dread as the day of the disaster approaches,
    yet there are touches of humour that keep it light and eminently
    readable.
  </p>
</Book>

<Book
  title="The Moon-Spinners"
  author="Mary Stewart"
  year="1962"
  isbn="9780060502959"
>
  <p>
    There is no better escapism than Mary Stewart's romantic suspense
    novels. Always set in lovely, atmospheric parts of the world
    (for example, Crete in this book) and featuring adventurous
    heroines that aren't too perfect, we get a rollicking adventure
    with a dash of mystery and romance on the side.
  </p>
  <p>
    I will admit that her oeuvre is slightly uneven, but even her
    poorer efforts will reliably take you out of yourself for a couple of
    hours when you really need it. This is one of my favourites of hers,
    and <em>Wildfire at Midnight</em> and <em>Airs Above the Ground</em>
    are two others that I enjoyed very much.
  </p>
</Book>


<h2>The Romance of Ancient Egypt</h2>

<Book
  title="Crocodile on the Sandbank (Amelia Peabody)"
  author="Elizabeth Peters"
  year="1975"
  isbn="9780445406513"
>
  <p>
    Probably one of the most widely-read books on this page.
    I was tempted to include it in a funny mystery category,
    but it's also a romance, set in 1800's Egypt,
    and so I included it here. Written by an actual Egyptologist
    (real name Barbara Mertz), the book portrays very well
    the romance and drudgery of an Egyptian archaeological dig.
    Amelia Peabody is a larger-than-life heroine whose forceful nature
    is a welcome change from the usual depictions of Victorian women.
    I've read most of the series and enjoyed it.
  </p>
</Book>

<Book
  title="Nefertiti Lived Here"
  author="Mary Chubb"
  year="1954"
  isbn="9781901965018"
>
  <p>
    A memoir by a young woman who gets herself hired onto a
    dig at Tell el-Amarna, the capital of the heretic pharaoh Akhenaten,
    in 1930. Her romantic notions are soon tempered by the day-to-day drudgery
    of the dig, but her sheer joie-de-vivre sustains her and the book.
    John Pendlebury, though not fully named, is the leader of the expedition,
    and we get an interesting look at this war hero (with his one glass eye)
    in his natural habitat.
  </p>
</Book>

<h2>Fun with language</h2>

<Book
  title="How to Read Egyptian Hieroglyphs: A Step-by-Step Guide to Teach Yourself"
  author="Mark Collier and Bill Manley"
  year="1998"
  isbn="9780520239494"
>
  <p>
    Get through a few chapters of this book and
    you'll be equipped to read the first couple of lines of the
    Offering Formula. This formula is so common that every museum with
    an Egyptian section will have at least one artifact containing it,
    so you can experience the excitement of reading an artifact
    from millennia ago.
  </p>
</Book>

<Book
  title="Egyptian Hieroglyphs for Complete Beginners"
  author="Bill Manley"
  year="2012"
  isbn="9780500290286"
>
  <p>
    Bill Manley of Collier and Manley just above, also has this second textbook
    with a refined approach to teaching hieroglyphs. I felt the
    first chapter was more of a slog than any part of Collier and Manley,
    but the rest was great, with one artifact per chapter to decipher.
    Where I really recommend this one is when you're coming back
    to Hieroglyphic Egyptian after a hiatus &mdash; it's great to use to review!
  </p>
</Book>

<Book
  title="Classical Chinese for Everyone: A Guide for Absolute Beginners"
  author="Bryan W. Van Norden"
  year="2019"
  isbn="9781624668210"
  imgurl="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1561083841l/51894555.jpg"
>
  <p>
    This book is not dissimilar to Collier and Manley. Written by a philosopher, it's focused on giving you just
    enough Classical Chinese grammar patterns to get you to reading the
    simpler Confucian analects. Despite the title, I think it would be best
    to have some Chinese under your belt before tackling this.
    I derived a huge amount of enjoyment both from deciphering the texts,
    and seeing how much the language has changed. Who would have guessed that
    是 was once a resumptive pronoun rather than a copula?
  </p>
</Book>

<Book
  title="The Language Lovers' Puzzle Book"
  author="Alex Bellos"
  year="2020"
  isbn="9781783352180"
>
  <p>
    Beginner linguists cut their teeth on identifying patterns
    in a variety of foreign languages. This book brings such exercises
    to a general audience, with fun puzzles from Irish to Tok Pisin.
    If you are a teen who finds such puzzles fun or even easy, check out
    Linguistics Olympiads!
  </p>
</Book>


<Book
  title="Vowelless Crosswords"
  author="Frank Longo"
  year="2009"
  isbn="9781402750922"
>
  <p>
    I love doing crosswords, but sometimes the same old crosswordese can
    get stale. This book breathes fresh air into the genre. All the vowels
    have been removed, so you can cram much longer words and phrases into
    the grid. I wish there could be a never-ending supply of vowelless
    crosswords for me to solve.
  </p>
</Book>


<h2>History that reads like a novel</h2>

<Book
  title="The White Nile"
  author="Alan Moorehead"
  year="1960"
  isbn="9780060956394"
>
  <p>
    I "discovered" this book at a tiny bookshop in Budapest that sustained
    me with second-hand English books while I was studying maths there
    for a few months. Both this and its companion book <em>The Blue Nile</em>
    were gripping reads about the respective journeys to the sources
    of the Nile in the 19th century. Peter Hopkirk's books on Central Asia
    were another discovery from the Red Bus Bookstore, and I recommend those
    too.
  </p>
</Book>

<Book
  title="The Mongol Empire: Its Rise and Legacy"
  author="Michael Prawdin"
  year="1938"
  isbn="9781138536876"
  imgurl="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1348310891i/2038167.jpg"
>
  <p>
    Many history books that "read like a novel"
    are essentially creative non-fiction, reconstructing conversations
    and so forth. This book about the rise of Genghis Khan and the
    subsequent history of the Mongol Empire reads like a novel by dint of
    sheer interestingness and wonderfully paced prose.
  </p>
</Book>

<h2>World War II</h2>

<Book
  title="Between Silk and Cyanide: A Codemaker's War, 1941-1945"
  author="Leo Marks"
  year="1998"
  isbn="9780684867809" 
>
  <p>
    One of my most re-read non-fiction books, this memoir of a codemaker
    for the Special Operations Executive, has it all: espionage, humour, cryptography,
    <a href="https://en.wikipedia.org/wiki/The_Life_That_I_Have">poetry</a>.
    We get to meet some of the most famous spies of WWII
    through the eyes of someone painfully young yet responsible in his own
    domain for their safety. There is one passage in the book I still puzzle
    over almost 20 years after reading it for the first time.
  </p>
</Book>

<Book
  title="Eggs or Anarchy: The Remarkable Story of the Man Tasked with the Impossible: to Feed a Nation at War"
  author="William Sitwell"
  year="2016"
  isbn="9781471151057"
>
  <p>
    A biography of Lord Woolton, the Minister of Food for the UK
    during World War II. I came to know of this book through a Twitter thread
    on how the UK bought up the entire free world's supply of tea in 1942
    to secure the supply chain, a story which sadly wasn't actually recounted
    in this book. It was admittedly dry, but the description of just how wide-ranging
    <em>and</em> detailed <em>and</em> well-executed the plans for feeding
    an island nation had to be, and how close Britain came to disaster on
    this front, stayed with me long after I finished reading.
    It made me wonder: who is doing the thinking and acting necessary
    to secure the food supply of future Earth,
    in the face of all our challenges due to climate change?
  </p>
</Book>

<Book
  title="Death in Captivity"
  author="Michael Gilbert"
  year="1952"
  isbn="9780712352130"
  imgurl="https://images-us.bookshop.org/ingram/9781464211690.jpg?v=enc-v1"
>
  <p>
    More mysteries? Definitely! The second entry by
    Michael Gilbert on this page,
    this locked room mystery is based on the author's
    experience in a World War II prison camp. While not
    in the least a traditional mystery, the sleuthing
    undertaken by our "detective", a POW, was
    admirable in his resourcefulness and persistence
    under extremely trying circumstances.
  </p>
</Book>

<Book
  title="Murder by Matchlight"
  author="ECR Lorac"
  year="1945"
  isbn="9780486805078"
  imgurl="https://images-us.bookshop.org/ingram/9781464210938.jpg?v=enc-v1"
>
  <p>
    ECR Lorac is another mystery author whose oeuvre I'm working through.
    This one is set during the Blitz and the blackout very much
    plays a role in the murder and investigation that takes place.
    Since it was written during the war, it feels very immediate
    and atmospheric, similar to Christianna Brand's <em>Green for
    Danger</em> (not included in this list just because I think
    that book does receive its just laurels).
  </p>
</Book>

<Book
  title="The War That Saved My Life"
  author="Kimberly Brubaker Bradley"
  year="2015"
  isbn="9780803740815"
>
  <p>
    A grittier version of the classic Disney children's film
    <em>Bedknobs and Broomsticks</em>, a girl with a club leg
    who's been neglected and abused all her life gets evacuated
    to the countryside, and starts to find her real family there.
    It felt very psychologically real and magical. The story
    concludes in its sequel, <em>The War I Finally Won</em>.
  </p>
</Book>


<h2>Biblical fiction and non-fiction</h2>

<Book
  title="Who Wrote the Bible?"
  author="Richard Elliott Friedman"
  year="1987"
  isbn="9780060630355"
>
  <p>
    I found this book fascinating and it launched
    me down the rabbit-hole of Biblical criticism.
    This investigation into the origins of the first
    five books of the Hebrew Bible, with its careful
    attention to subtle details in the text, read almost like
    a detective story. My understanding is that his
    interpretation is broadly the consensus view of scholars,
    but that there are quibbles about the details.
  </p>
  <p>
    REF has a further book <em>The Exodus</em>
    which is even more fun (and even more speculative).
  </p>
</Book>

<Book
  title="The Historical David"
  author="Joel Baden"
  year="2013"
  isbn="9780062188311"
  imgurl="https://images-us.bookshop.org/ingram/9780062188373.jpg?v=8329ae81da84bd7d29d16ae5c0c4c861"
>
  <p>
    Another book featuring Biblical sleuthing via close reading,
    this time looking at the tales of Kings Saul, David, and Solomon,
    and the subtle (and not-so-subtle) hints they make 
    towards a less than salubrious past
    for the otherwise glorious King David. Baden
    postulates multiple layers to the text, with different motivations
    and narrative requirements for the author of each layer.
    This was a fun read with jaw-dropping conclusions.
  </p>
  <p>
    I should emphasise that this is a fairly controversial take.
    For another, to me just as plausible, theory, see
    Israel Finkelstein and Neil Silberman's <em>David and Solomon:
    In Search of the Bible's Sacred Kings and the Roots
    of the Western Tradition</em>.
  </p>
</Book>

<Book
  title="The King David Report"
  author="Stefan Heym"
  year="1972"
  isbn="9780810115378"
>
  <p>
    An interesting take on how art can be co-opted by totalitarianism
    but also subvert regimes, using the lens of the story of King David.
    Heym's theory is essentially similar to Baden's above, but
    subtly different explanation for the Davidic apologetics, postulating
    that a historian may have been commissioned to write David's history,
    but manage to subtly insert the truth. And pay the price.
  </p>
  <p>
    If you enjoy this, also consider Paul M.M. Cooper's <em>Rivers
    of Ink</em> which has similar themes but is set in ancient Sri Lanka.
  </p>
</Book>



<h2>Engineers solving problems</h2>

<Book
  title="Sixteen Ways to Defend a Walled City"
  author="K. J. Parker"
  year="2019"
  isbn="9780316270793"
>
  <p>
    If you enjoyed books like <em>The Martian</em> or <em>Project Hail Mary</em>
    you'll probably like this historical fantasy set in a Constantinople-like
    city. The main character, Orhan, is an engineer
    (and an unreliable narrator), who winds up becoming the leader of the city
    and having to protect it against a barbarian siege. Besides the engineering
    problems he has to solve, he also has to figure out how to bring the city
    together and combat racism.
  </p>
</Book>

<Book
  title="Trustee from the Toolroom"
  author="Nevil Shute"
  year="1960"
  isbn="9781842323014"
>
  <p>
    Nevil Shute's most famous work is <em>A Town Like Alice</em>,
    which is also all about solving problems, but this lesser-known book
    deserves to be widely read as well. As with that earlier book,
    you'll have no idea where the story is going to end up, but there'll
    be many problems, engineering or otherwise, to solve along the way.
    But it's also a meditation on what it means to live a good life.
    What may seem humdrum to one person may be exactly what someone else is
    looking for, and this book shows that someone, by purely doing what they
    love, can have a wider impact than they or anyone else might imagine.
  </p>
</Book>

<h2>Lesser-known books by well-known authors</h2>

<Book
  title="The Dot and the Line: A Romance in Lower Mathematics"
  author="Norton Juster"
  year="1963"
  isbn="9781587170669"
>
  <p>
    Norton Juster is better known for his masterpiece of wordplay, 
    <em>The Phantom Tollbooth</em> (which I also adore), 
    but this book shows that Juster, true to his
    architectural roots, is equally adept at manipulating simple 2-dimensional
    objects to tell a wonderful story.
  </p>
</Book>

<Book
  title="Absent in the Spring"
  author="Agatha Christie (as Mary Westmacott)"
  year="1944"
  isbn="9780006499473"
>
  <p>
    Suppose you're a person who's always busy with your family and good works
    &mdash; so busy you don't have time to reflect on yourself or, really, other people.
    And then suppose you're put in the middle of nowhere with no one to talk to
    and no way to occupy yourself. What will you find? And then, more crucially,
    what will you do about your new self-knowledge? An astonishing novel with
    basically just one character, yet captivating.
  </p>
</Book>

<Book
  title="Last Chance to See"
  author="Douglas Adams"
  year="1990"
  isbn="9780345371980"
  imgurl="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1327867839i/8696.jpg"
  <p>
    This is the only non-fiction work of Douglas Adams' I've read,
    but it's equal in humour, insight, and language to any of his
    more well-known fiction. An amazing book detailing the fight
    to keep endangered species from going extinct.
    Douglas Adams will make you care, and care deeply, about the subject.
  </p>
</Book>

<Book
  title="The Red House Mystery"
  author="A.A. Milne"
  year="1922"
  isbn="9780486401294"
>
  <p>
    The creator of Winnie the Pooh was also a fan of detective mysteries,
    and he produced this one for our reading entertainment. It is perhaps a
    tad too easy to solve, but it's amazingly fun to read. Afterward,
    Milne decided that it was more fun to read mysteries than to pen them,
    so this is his sole effort in the genre &mdash; a gift to his fellow fans.
  </p>
</Book>

<Book
  title="The Documents in the Case"
  author="Dorothy L. Sayers and Robert Eustace"
  year="1930"
  isbn="9780061043604"
>
  <p>
    I thought I'd got through all of Sayers' mysteries
    when I finished her Lord Peter Wimsey series, but I had
    overlooked this standalone mystery, co-written with Robert
    Eustace. It does start out
    slow with an exchange of letters, but it quickly becomes
    very suspenseful. Eustace's science + Sayers' theology +
    Sayers' literary abilities make for a terrific combination.
    One part of this book I audibly gasped at.
  </p>
</Book>

<Book
  title="Antrobus Complete"
  author="Lawrence Durrell"
  year="1990"
  isbn="9780571136032"
>
  <p>
    This is the "Larry" of Gerald Durrell's <em>My Family and Other Animals</em>
    and other books. While his <em>Alexandria Quartet</em> and
    <em>Avignon Quintet</em> are his famous works,
    this collection of short stories told by a British
    diplomat stationed in the Balkans is a hidden gem. The stories are
    all funny, and a couple of them uproariously so.
  </p>
</Book>

<Book
  title="Leave it to Psmith"
  author="P. G. Wodehouse"
  year="1923"
  isbn="9780393343052"
>
  <p>
    Wodehouse's <em>Jeeves and Wooster</em> and <em>Blandings</em> books
    tend to be more widely read, but I think <em>Leave it to Psmith</em>,
    which is actually set at Blandings Castle, is one of his funniest works.
    I'd loved the irrepressible Psmith since reading <em>Mike and Psmith</em>,
    but watching him trying to find employment and then love was a hoot.
  </p>
</Book>

<Book
  title="Papa Married a Mormon"
  author="John D. Fitzgerald"
  year="1955"
  isbn="9780914740216"
  imgurl="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1175834812i/564854.jpg"
>
  <p>
    I read the author's <em>Great Brain</em> children's books as a kid,
    which is set in frontier-town Utah. This is similarly semi-autobiographical,
    aimed at adults instead. We learn more about the parents, their inter-faith
    marriage, and how the children grew up. It was just a really fun, transporting read.
  </p>
</Book>


<h2>Children's books that adults will appreciate</h2>

<Book
  title="The Pushcart War"
  author="Jean Merrill"
  year="1964"
  isbn="9780440471479"
>
  <p>
    I don't know if this one of those everyone-else-knew-about-this-other-than-me?
    books. Possibly it was being brought up outside of the U.S. that led me
    not to encounter this book until just a couple of years ago. But
    this children's book. Was. Fantastic!!! Hilarious, dry, slightly
    mockumentary style, with frequent callbacks to earlier parts of the book.
    The illustrations were also charming and added to the strong sense of place.
  </p>
</Book>

<Book
  title="The Everything in the Whole Wide World Museum: With Lovable, Furry Old Grover"
  author="Norman Stiles and Daniel Wilcox"
  year="1974"
  isbn="9780394827070"
>
  <p>
    Somewhat overshadowed by the more well-known <em>Monster at the End of This Book</em>,
    from the same series, but even better!
    Will get even adults musing on how to make a taxonomy of the universe,
    while laugh-out-loud funny at the same time.
  </p>
</Book>

<Book
  title="I Want my Hat Back"
  author="Jon Klassen"
  year="2011"
  isbn="9780763655983"
>
  <p>
    A bear goes searching for his lost hat.
    Perfect in its simplicity and sly humour.
  </p>
</Book>

<h2>Children's books featuring cats</h2>

<Book
  title="Space Cat"
  author="Ruthven Todd and Paul Galdone (illustrator)"
  year="1952"
  isbn="9780844665610"
  imgurl="https://images-us.bookshop.org/ingram/9780486822723.jpg?v=enc-v1"
>
  <p>
    Written around the same time as the Tintin space books <em>Destination Moon</em>
    and <em>Explorers on the Moon</em> and featuring about the same level of
    technological accuracy (that is to say, not much), and with a cat
    as astronaut in place of Snowy. This was so charmingly illustrated
    and such a delightful book though!
  </p>
</Book>

<Book
  title="The Book Cat"
  author="Polly Faber and Clara Vulliamy (illustrator)"
  year="2021"
  isbn="9780571357888"
>
  <p>
    A sweet tale of a real-life cat orphaned in World War II
    who finds his place in life as the resident cat of Faber & Faber,
    the London publishers. A tribute to the importance of cats for
    writers and other book people.
  </p>
</Book>

<Book
  title="Ra the Mighty: Cat Detective"
  author="Amy Butler Greenfield and Sarah Horn (illustrator)"
  year="2018"
  isbn="9780823440276"
>
  <p>
    A fun children's mystery with the laugh-out-loud narratorial
    voice of Ra the Mighty &mdash; Cat Detective.
  </p>
</Book>

<Book
  title="I Am a Cat"
  author="Galia Bernstein"
  year="2018"
  isbn="9781419726439"
>
  <p>
    A housecat stands his ground among his bigger, scarier
    relatives. A great way for children to learn about the
    big cats and about what it means to belong.
  </p>
</Book>

<h2>Out of Japan</h2>

<Book
  title="A Bride's Story"
  author="Kaoru Mori"
  year="2009"
  isbn="9780316180993"
>
  <p>
    A slice-of-life manga series about women's lives in 19th century
    Central Asia. I cannot emphasise enough how gorgeously illustrated these books are.
    Some of the stories are also really compelling. Book 6 has been my favourite so far.
  </p>
</Book>

<Book
  title="Math Girls"
  author="Hiroshi Yuki"
  year="2011"
  isbn="9780983951308"
  imgurl="https://images-na.ssl-images-amazon.com/images/P/0983951306.01._SX400_SCLZZZZZZZ_.jpg"
>
  <p>
    There's a publishing dictum that for every equation you include in a book,
    you decrease your potential audience by half. Perhaps that's why this 
    story-based introduction to mathematics came out in Japan rather than
    the West. I absolutely loved this and I was astonished at the level
    of maths that we got to in this volume (the Riemann-Zeta function and
    generating functions!).
  </p>
</Book>

<Book
  title="Dinosaur Sanctuary"
  author="Itaru Kinoshita"
  year="2021"
  isbn="9781685793241"
  imgurl="https://media.mycomicshop.com/n_iv/120/7101926.jpg"
>
  <p>
    The premise of this manga is that dinosaurs were found on
    a remote Japanese island and that they are now being bred
    in captivity around the world, including one particular Japanese
    dinosaur sanctuary, which has been struggling since a horrible
    accident marred the image of dinosaur parks.
    A fun manga combining paleontology and practical zoology,
    featuring earnest and competent characters. There's a throughline
    about an ancient tragedy and a possible slow-burn relationship
    as well. The illustrations are lovingly detailed and informed
    by a modern paleontologist consultant. I wish this place existed!
  </p>
</Book>

<Book
  title="A Turtle's Shell is a Rib"
  author="川崎悟司"
  year="2019"
  isbn="4815604126"
  imgurl="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1677892130i/72168295.jpg"
>
  <p>
    This is one of the weirdest-looking books in my library, and doesn't actually require
    much Japanese to appreciate. Basically it takes various animals and portrays what humans
    would look like if they had evolved in the same way. For example, as per the title,
    the turtle's shell actually evolved from a rib cage &mdash; so the illustration shows
    what a human would look like if our rib cage had evolved the same way.
    A fun way to learn about evolutionary anatomy!
  </p>
</Book>

<h2>A Miscellany</h2>

<Book
  title="Stories of the Sahara"
  author="Sanmao (三毛)"
  year="1976"
  isbn="9781408881873"
>
  <p>
    So many travel books are written from the Western perspective. 
    This is unusual in both its location &mdash; Western Sahara
    in the 1970s &mdash; and its author &mdash; a Taiwanese woman writer.
    We get stories that are adventurous, magical, some deeply uncomfortable,
    but together form an unusual window on the world that makes this book
    really worth a read.
  </p>
</Book>

<Book
  title="The Secrets of Story: Innovative Tools for Perfecting Your Fiction and Captivating Readers"
  author="Matt Bird"
  year="2016"
  isbn="9781440348235"
>
  <p>
    I've read many books about writing, and perused many lists of books
    about writing. I rarely see this book on these lists, but it should be.
    It features fresher insights about writing than the regurgitated stuff
    I see repeated in many writing advice books, and offers detailed
    and actionable checklists of questions you can ask yourself about
    your story as you write.
  </p>
</Book>
</Layout>

<style>
  @media (max-width: 600px) {
    h1 {
      font-size: 2.5rem;
    }
  }
</style>
