---
import Layout from '../layouts/Layout.astro';
import Hieroglyph from '../components/Hieroglyph.astro';
---

<Layout title="Michelle Fullwood">

<h1>Michelle Fullwood</h1>
<p>
  Hello! I'm a linguist working in the natural language processing space.
  My life revolves around words, language, and stories.
  I'm also very into maps and puzzles.
</p>
<p>
  Below, you'll find tools, projects, and lists that I've made.
  I hope you'll find something among it useful.
</p>

<h2>Language tools</h2>

<div>
<h3><a href="/languages/arabic/fuzzy/">Fuzzy Arabic Dictionary</a></h3>
<p>
  Look up Arabic words, even when you don't know how to spell them.
</p>
</div>

<div>
<h3>Dictionary of Ancient Egyptian Grammar</h3>

<p>
  A quick reference companion to Hoch's Middle Egyptian Grammar, inspired
  by the <em>Dictionary of Japanese Grammar</em> series.
</p>
</div>

<h2>Projects</h2>

<div>
<h3>A linguistic street map of Singapore</h3>
<p>
  A street map of Singapore in which every road is colour-coded
  with the language of origin of its road name.</p>
<p>This was remade by the Straits Times digital team in 2021.</p>
</div>

<div>
<h3>Twide and Twejudice</h3>
<p>
  My entry into NanoGenMo 2014: A version of <em>Pride and Prejudice</em>
  in which every word of dialogue is replaced with a word that's used
  in a similar context...on Twitter. For example:
</p>

<blockquote>"Miss Elizabeth Bennet!" repeated Miss Bingley. "I am all neurosis. How loooooooong has shhe been suuuch a sxey?"</blockquote>
This received some media coverage on Verge, Clarkesworld, and ozy.com. The "Making Of ..." blogpost is here.
</div>

<h2>Lists</h2>

<div>
  <h3><a href="/lists/books/felt-like-discoveries">Books that felt like discoveries</a></h3>

  <p>
    Books that I think are less read than they should be,
    or that I stumbled on serendipitously,
    or that I only know about through being in a
    specialised subcommunity, etc.</p>
</div>


<Hieroglyph text="i-mn:n-R4:t*p*t:N1"/>

</Layout>

<style>
  h1 {
    font-size: 4.2rem;
    margin-bottom: -10px;
  }
  h2, h3 {
    margin-bottom: -10px;
  }
  blockquote {
    font-family: 'Kalam', cursive;
  }
</style>
