---
interface Props {
	title?: string;
}

const { title = "Michelle Fullwood" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Jost:ital,wght@0,200;0,400;1,400&family=Kalam:wght@300&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/hieroglyphs/hierojax.css" />
		<script is:inline src="/hieroglyphs/hierojax.js"></script>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100%;
	}
	body {
		font-family: 'Jost', sans-serif;
		font-size: 1.3rem;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		background-color: #ececec;
		padding-bottom: 4rem;
	}
	@media (max-width: 1024px) {
		body {
			width: 85% !important;
		}
	}
	@media (max-width: 600px) {
		body {
			width: 100% !important;
			padding-left: 1rem !important;
			padding-right: 1rem !important;
			box-sizing: border-box;
		}
		h1 {
			font-size: 2.5rem;
			overflow-wrap: break-word;
		}
		h2 {
			font-size: 1.8rem;
		}
	}
	h1 {
		font-family: 'IM Fell English', serif;
		font-size: 3.5rem;
	}
	h2 {
		font-family: 'IM Fell English', serif;
		font-size: 2.5rem;
		margin-top: 3rem;
		margin-bottom: 0.5rem;
	}
	h3 {
		font-size: 1.7rem;
	}
	.lettering {
		font-family: 'Kalam', cursive;
	}
	.emphasis {
		font-family: 'IM Fell English', serif;
		color: rgb(213, 117, 0);
	}
	.chunk {
		display: inline-block;
		vertical-align: top;
	}
</style>
